:root{
    --white: white;
    --blue: #1C31AE;
}

body{
    width: 100vw;
    height: 100vh;
    padding: 100px;
    background-color: var(--blue);
    color: var(--white);
    display: grid;
    place-content: center;
    font-family: "VT323", monospace;
}

model-viewer::part(default-progress-bar){ display: none; }

.main-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 400px;
    
    .menu{
        width: 100%;
        ul{
            display: flex;
            flex-direction: column;
            gap: 2px;
    
            li{
                color: var(--white);
                font-size: 24px;
                height: fit-content;
                width: fit-content;
                text-transform: uppercase;
                line-height: 1;
                font-weight: 200;

                &:hover{
                    background-color: var(--white);
                    color: var(--blue);
                    cursor: pointer;
                }
                
            }

            .selected{
                background-color: var(--white);
                color: var(--blue);
            }

            .disabled{
                cursor: none;
                user-select: none;
                pointer-events: none;
                color: grey;
            }

        }
    }

    .controls{
        width: 100%;
        
        ul{
            color: var(--white);
            font-size: 24px;
            height: fit-content;
            width: fit-content;
            text-transform: uppercase;
            line-height: 1;
            font-weight: 200;
        }
    }
   
}

.divider{
    letter-spacing: 0.2em; 
    margin: 20px 0;
}

.cv{
    display: flex;
    flex-direction: column;
}

