:root {
  --lightGrey: rgb(110, 110, 110);
  --darkGrey: rgb(75, 75, 75);
  --white: white;
  --black: #161616;
  --green: #65c466;
  --small: clamp(0.6rem, 0.725vw, 1rem);
  --reg: clamp(1rem, 1vw, 1.2rem);
}

html {
  font-family: "Geist", sans-serif;
}

a, label {
  cursor: none;
}

/* custom cursor */
.cursor {
  width: 18px;
  height: 18px;
  border-radius: 50px;
  border: 3px solid var(--black);
  transform: translate(-50%, -50%);
  position: fixed;
  pointer-events: none;
  left: 0;
  top: 0;
  z-index: 99999;
  color: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--small);
  transition: border 0.3s ease, width 0.3s ease;
}
.cursor.el-hover {
  border: 3px solid var(--green);
  background-color: transparent;
}
.cursor.img-hover {
  border: 3px solid var(--green);
}
.cursor.img-hover::after {
  display: block;
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  width: 85%;
  height: 85%;
  border-radius: 50%;
  border: 2px solid var(--green);
  border-top-color: transparent;
  border-bottom-color: transparent;
  transform: translate(-50%, -50%);
  animation: cursor-rotate 0.9s linear infinite;
  pointer-events: none;
}

@keyframes cursor-rotate {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
body {
  height: auto;
  width: 100%;
  overflow-x: hidden;
  background-color: var(--white);
  color: var(--black);
  background-image: url(https://cdn.prod.website-files.com/66f21b00f5b67738c16bd030/6755f761307465d0d485c42d_dot-pattern.svg);
  background-size: auto, auto;
  cursor: none;
}

header {
  width: 100%;
  font-family: "Geist Mono", monospace;
}

main {
  padding: 0 50px 50px 50px;
}

nav {
  width: calc(100% - 20px);
  display: flex;
  justify-content: space-between;
  padding: 15px 25px;
  border-bottom: 1px solid var(--darkGrey);
  color: var(--darkGrey);
  font-size: var(--small);
  margin: 10px;
}
nav .nav_list {
  display: flex;
  align-items: center;
  gap: 20px;
}
nav .nav_list li:hover {
  color: var(--black);
}
nav .nav_list li:hover .cursor {
  border: 1px solid red;
}
nav .nav_list svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
  fill: var(--black);
}
nav .right li {
  display: flex;
  gap: 4px;
}
nav .right li a:hover {
  text-decoration: underline;
}

.hero {
  height: auto;
  width: 100%;
  display: flex;
  margin: 60px 0;
}
.hero .hero__content {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 15px;
}
.hero .hero__content .profile__picture {
  width: 75px;
  height: 75px;
}
.hero .hero__content .profile__picture img {
  border-radius: 50px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
.hero .hero__content h1 {
  font-weight: 500;
  max-width: 90%;
  min-width: 400px;
}

.work__content {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
}
.work__content h2 {
  font-size: clamp(0.8rem, 0.8vw, 1rem);
  font-weight: 700;
  color: var(--black);
  font-family: "Geist Mono", monospace;
}
.work__content .work__cards {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  font-size: var(--reg);
}
.work__content .work__cards .work__card {
  width: calc(33.333% - 20px);
}
.work__content .work__cards .work__card .work__img {
  display: grid;
  width: 100%;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
  margin: 15px 0;
}
.work__content .work__cards .work__card .work__img img {
  grid-area: 1/1;
  width: 100%;
  height: auto;
  transition: opacity 0.3s ease;
  opacity: 0;
  -o-object-fit: contain;
     object-fit: contain;
  animation: none;
}
.work__content .work__cards .work__card .work__img img:nth-child(1) {
  opacity: 1;
}
.work__content .work__cards .work__card .work__img:hover img:nth-child(1) {
  animation: rotateImages 3s infinite 0s;
}
.work__content .work__cards .work__card .work__img:hover img:nth-child(2) {
  animation: rotateImages 3s infinite 1s;
}
.work__content .work__cards .work__card .work__img:hover img:nth-child(3) {
  animation: rotateImages 3s infinite 2s;
}
@keyframes rotateImages {
  0%, 33.33% {
    opacity: 1;
  }
  33.34%, 100% {
    opacity: 0;
  }
}
.work__content .work__cards .work__card .work__info {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.work__content .work__cards .work__card .work__info .heading {
  font-weight: 700;
  font-family: "Geist Mono", monospace;
  display: flex;
  justify-content: space-between;
}
.work__content .work__cards .work__card .work__info .heading a:hover {
  text-decoration: underline;
}
.work__content .work__cards .work__card .work__info .type {
  display: flex;
  gap: 5px;
}
.work__content .work__cards .work__card .work__info .type .pill {
  position: relative;
  width: auto;
  padding: 5px 10px;
  border-radius: 50px;
  background-color: var(--black);
  font-size: clamp(0.6rem, 0.6vw, 0.8rem);
  color: var(--white);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
.work__content .work__cards .work__card .work__info .type .pill .modal {
  position: absolute;
  bottom: 150%;
  left: 50%;
  transform: translateX(-50%) scaleY(0);
  transform-origin: bottom center;
  background-color: var(--white);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  width: -moz-max-content;
  width: max-content;
  height: auto;
  padding: 10px;
  border-radius: 5px;
  opacity: 0;
  z-index: 9999;
  color: var(--black);
  text-align: center;
  transition: all 0.3s ease;
}
.work__content .work__cards .work__card .work__info .type .pill .modal.show {
  opacity: 1;
  transform: translateX(-50%) scaleY(1);
}
.work__content .work__cards .work__card .work__info .subheader {
  color: var(--darkGrey);
}
.work__content .work__cards .work__card .work__info .date {
  font-family: "Geist Mono", monospace;
  color: var(--lightGrey);
  font-size: var(--small);
}

.accesibility {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  background-color: var(--white);
  border-radius: 50px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
  display: grid;
  place-content: center;
}
.accesibility .accesibility-icon {
  display: grid;
  place-content: center;
}
.accesibility .accesibility-modal {
  display: block;
  position: absolute;
  bottom: 120%;
  right: 0;
  width: 300px;
  height: auto;
  background-color: var(--white);
  color: var(--black);
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  opacity: 0;
  transition: all 0.3s ease;
}
.accesibility .accesibility-modal.show {
  opacity: 1;
}
.accesibility .accesibility-modal .settings {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: var(--small);
}
.accesibility .accesibility-modal .settings .heading {
  font-weight: 700;
  padding-bottom: 15px;
  border-bottom: 1px solid var(--lightGrey);
  align-items: center;
}
.accesibility .accesibility-modal .settings .heading .close-btn {
  font-size: 1.2rem;
  padding: 0 10px;
}
.accesibility .accesibility-modal .settings li {
  display: flex;
  justify-content: space-between;
}
.accesibility .accesibility-modal .settings .switch-container {
  width: 40px;
  height: 20px;
  position: relative;
  display: flex;
}
.accesibility .accesibility-modal .settings .checkbox {
  opacity: 0;
  width: 0;
  height: 0;
  position: absolute;
}
.accesibility .accesibility-modal .settings .switch {
  width: 100%;
  height: 100%;
  display: flex;
  background-color: hsl(240, 5%, 92%);
  border-radius: 15px;
  position: relative;
  align-items: center;
  transition: all 0.2s ease-in-out;
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.2);
}
.accesibility .accesibility-modal .settings .slider {
  position: absolute;
  width: 14px;
  height: 14px;
  background-color: white;
  border-radius: 50%;
  left: 2px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
  transition: all 0.2s ease-in-out;
}
.accesibility .accesibility-modal .settings .checkbox:checked + .switch .slider {
  transform: translateX(20px);
}
.accesibility .accesibility-modal .settings .checkbox:checked + .switch {
  background-color: hsl(135, 58%, 49%);
}/*# sourceMappingURL=styles.css.map */