:root{
    //colors
    --lightGrey: rgb(110, 110, 110);
    --darkGrey: rgb(75, 75, 75);
    --white: white;
    --black: #161616;

    //font sizes
    --small: clamp(0.6rem, 0.725vw, 1rem);
    --reg: clamp(1rem, 1vw, 1.2rem);
}

//fonts

$geistReg: "Geist", sans-serif;
$geistMono: "Geist Mono", monospace;

//paddings and margings

$mbs: 60px;
$mb: 15px;

html{
    scroll-behavior: smooth;
    font-family: $geistReg;
}

body{
    height: auto;
    width: 100%;
    overflow-x: hidden;
    background-color: var(--white);
    color: var(--black);
    background-image: url(https://cdn.prod.website-files.com/66f21b00f5b67738c16bd030/6755f761307465d0d485c42d_dot-pattern.svg);
    background-size: auto,auto;
}

header{
    width: 100%;
    font-family: $geistMono;
}

main{
    padding: 0 50px 50px 50px;
}

nav{
    width: calc(100% - 20px);
    display: flex;
    justify-content: space-between;
    padding: 15px 25px;
    border-bottom: 1px solid var(--darkGrey);
    color:var(--darkGrey);
    font-size: var(--small);
    margin: 10px;

    .nav_list{
        display: flex;
        align-items: center; 
        gap: 20px;

        li{
            cursor: pointer;

            &:hover{
                color: var(--black);
            }
        }

        svg{
            width: 25px;
            height: 25px;
            vertical-align: middle;
            fill: var(--black);
        }
    }

    .right{
        li{
            display: flex;
            gap: 4px;
            a:hover{
                text-decoration: underline;
            }
        }
    }
}

.hero {
    height: auto;
    width: 100%;
    display: flex;
    margin: $mbs 0;

    .hero__content{
        display: flex;
        flex-direction: column;
        gap: 15px;
        margin-bottom: $mb;

        .profile__picture{
            width: 75px;
            height: 75px;
            

            img{
                border-radius: 50px;
                width: 100%;
                height: 100%;
                object-fit: cover;
                box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
            }
        }

        h1{
            font-weight: 500;
            max-width: 90%;
            min-width: 400px;
        }
    }
}

.work__content{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;

    h2{
        font-size: clamp(0.8rem, 0.8vw, 1rem);
        font-weight: 700;
        color: var(--black);
        font-family: $geistMono;
    }

    .work__cards{
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        font-size: var(--reg);

        .work__card{
            width: calc(33.333% - 20px);

            .work__img{
                display: grid;
                width: 100%;
                border-radius: 8px;
                overflow: hidden;
                cursor: pointer;
                box-shadow: 0 0 5px rgba(0,0,0,0.3);
                margin: $mb 0;

                img{
                    grid-area: 1 / 1;
                    width: 100%;
                    height: auto;
                    transition: opacity 0.3s ease;
                    opacity: 0;
                    object-fit: contain;
                    animation: none;
                }

                img:nth-child(1) {
                    opacity: 1;
                }

                &:hover img:nth-child(1) {
                    animation: rotateImages 3s infinite 0s;
                }

                &:hover img:nth-child(2) {
                    animation: rotateImages 3s infinite 1s;
                }

                &:hover img:nth-child(3) {
                    animation: rotateImages 3s infinite 2s;
                }
            }

            @keyframes rotateImages {
                0%, 33.33% { opacity: 1; }
                33.34%, 100% { opacity: 0; }
            }

            .work__info{
                display: flex;
                flex-direction: column;
                gap: 5px;

                .heading{
                    font-weight: 700;
                    font-family: $geistMono;
                    display: flex;
                    justify-content: space-between;
                    
                    a:hover{
                        text-decoration: underline;
                    }
                }

                .type{
                    display: flex;
                    gap: 5px;

                    .pill{
                        position: relative;
                        width: auto;
                        padding: 5px 10px;
                        border-radius: 50px;
                        background-color: var(--black);
                        font-size: clamp(0.6rem, 0.6vw, 0.8rem);
                        color: var(--white);
                        cursor: pointer;
                        box-shadow: 0 0 5px rgba(0,0,0,0.1);

                        .modal{
                            position: absolute;
                            bottom: 150%;
                            left: 50%;
                            transform: translateX(-50%) scaleY(0);
                            transform-origin: bottom center;
                            background-color: var(--white);
                            box-shadow: 0 0 5px rgba(0,0,0,0.1);
                            width: max-content;
                            height: auto;
                            padding: 10px;
                            border-radius: 5px;
                            opacity: 0;
                            z-index: 9999;
                            color: var(--black);
                            text-align: center;
                            transition: all 0.3s ease;

                            &.show{
                                opacity: 1;
                                transform: translateX(-50%) scaleY(1);
                            }
                        }
                    }
                }

                .subheader{
                    color: var(--darkGrey);
                }

                .date{
                   font-family: $geistMono;
                   color: var(--lightGrey);
                   font-size: var(--small);
                }
            }
        }
    }
}