:root{
    //colors
    --lightGrey: rgb(110, 110, 110);
    --darkGrey: rgb(75, 75, 75);
    --white: white;
    --black: #161616;

    //font sizes
    --small: clamp(0.6rem, 0.725vw, 1rem);
}

//fonts

$geistReg: "Geist", sans-serif;
$geistMono: "Geist Mono", monospace;

//paddings and margings

$mbs: 80px;
$mb: 10px;

html{
    scroll-behavior: smooth;
    font-family: $geistReg;
}

body{
    height: auto;
    width: 100%;
    overflow-x: hidden;
    background-color: var(--white);
    color: var(--black);
    background-image: url(https://cdn.prod.website-files.com/66f21b00f5b67738c16bd030/6755f761307465d0d485c42d_dot-pattern.svg);
    background-size: auto,auto;
}

header{
    width: 100%;
    font-family: $geistMono;
}

main{
    padding: 0 50px;
}

nav{
    width: calc(100% - 20px);
    display: flex;
    justify-content: space-between;
    padding: 15px 25px;
    border-bottom: 1px solid var(--darkGrey);
    color:var(--darkGrey);
    font-size: var(--small);
    position: fixed;
    top: 10px;
    left: 10px;

    .nav_list{
        display: flex;
        align-items: center; 
        gap: 20px;

        li{
            cursor: pointer;

            &:hover{
                color: var(--black);
            }
        }

        svg{
            width: 25px;
            height: 25px;
            vertical-align: middle;
            fill: var(--black);
        }
    }

    .right{
        li{
            display: flex;
            gap: 4px;
            a:hover{
                text-decoration: underline;
            }
        }
    }
}

.hero {
    height: 300px;
    width: 100%;
    display: flex;
    padding-top: 100px;
    margin-bottom: $mbs;

    .hero__content{
        display: flex;
        flex-direction: column;
        gap: 15px;
        margin-bottom: $mb;

        .profile__picture{
            width: 75px;
            height: 75px;
            

            img{
                border-radius: 50px;
                width: 100%;
                height: 100%;
                object-fit: cover;
                box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
            }
        }

        h1{
            font-weight: 500;
            max-width: 70vw;
            min-width: 400px;
        }
    }
}

.work__content{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;

    h2{
        font-size: clamp(0.8rem, 0.8vw, 1rem);
        font-weight: 700;
        color: var(--black);
        text-decoration: underline;
        font-family: $geistMono;
    }

    .work__cards{
        display: flex;
        flex-wrap: wrap;
        gap: 15px;

        .work__card{
            width: calc(33.333% - 15px);

            .work__img{
                position: relative;
                height: 400px;
                width: 100%;
                border-radius: 8px;
                overflow: hidden;
                cursor: pointer;
                margin-left: -20px; 

                img{
                   height: 100%; 
                   width: 100%;
                   position: absolute;
                   top: 0;
                   left: 0;
                   transition: opacity 0.3s ease;
                   opacity: 0;
                   object-fit: contain;
                   animation: none;
                }

                img:nth-child(1) {
                    opacity: 1;
                }

                &:hover img:nth-child(1) {
                    animation: rotateImages 3s infinite 0s;
                }

                &:hover img:nth-child(2) {
                    animation: rotateImages 3s infinite 1s;
                }

                &:hover img:nth-child(3) {
                    animation: rotateImages 3s infinite 2s;
                }
            }

            @keyframes rotateImages {
                0%, 33.33% { opacity: 1; }
                33.34%, 100% { opacity: 0; }
            }

            .work__info{
                display: flex;
                flex-direction: column;
                gap: 5px;

                .heading{
                    font-weight: 700;
                    font-family: $geistMono;
                    
                    a:hover{
                        text-decoration: underline;
                    }
                }

                .subheader{
                    color: var(--darkGrey);
                }

                .date{
                   font-family: $geistMono;
                   color: var(--lightGrey);
                }
            }
        }
    }
}