:root{
    //colors
    --lightGrey: rgb(189, 189, 189);
    --darkGrey: rgb(75, 75, 75);
    --white: white;
    --black: #161616;

    //font sizes
    --small: clamp(0.6rem, 0.7vw, 1rem);
}

//fonts

$geistReg: "Geist", sans-serif;
$geistMono: "Geist Mono", monospace;

//paddings and margings

html{
    scroll-behavior: smooth;
    font-family: $geistReg;
}

body{
    height: auto;
    width: 100%;
    overflow-x: hidden;
    background-color: var(--white);
    color: var(--black);
}

header{
    width: 100%;
    height: auto;
    font-family: $geistMono;
}

nav{
    width: calc(100% - 20px);
    display: flex;
    justify-content: space-between;
    padding: 15px 25px;
    border-bottom: 1px solid var(--darkGrey);
    color:var(--darkGrey);
    font-size: var(--small);
    position: fixed;
    top: 10px;
    left: 10px;

    .nav_list{
        display: flex;
        align-items: center; 
        gap: 20px;

        li{
            cursor: pointer;

            &:hover{
                color: var(--black);
            }
        }

        svg{
            width: 25px;
            height: 25px;
            vertical-align: middle;
            fill: var(--black);
        }
    }

    .right{
        li{
            &:hover{
                text-decoration: underline;
            }
        }
    }
}

.hero {
    height: 100vh;
    background-image: url(https://cdn.prod.website-files.com/66f21b00f5b67738c16bd030/6755f761307465d0d485c42d_dot-pattern.svg);
    background-size: auto,auto;
    justify-content: center;  
    align-items: center;
    width: 100%;
    padding-left: 16px;
    padding-right: 16px;
    display: flex;
}